<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Dashboard</title> 
  <link rel="stylesheet" href="css/style.css" title="" type="text/css" />

</head>
<body>
  {{{date}}}    
  {{{todoist}}}
  {{{weather}}}

  {{!-- Scripts --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://momentjs.com/downloads/moment.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
