<div class="weather">
  <p class="city-name">{{name}}</p>
  {{!-- <p class="coord">{{coord.lon}} , {{coord.lat}}</p> --}}
  <p class="temp"> {{main.temp}} <span class="symbol"> &deg; </span>F</p>
</div>