body {
  background-color: #222222; }

@font-face {
  src: url("fonts/Square.ttf");
  font-family: Square; }

@font-face {
  src: url("fonts/Squareo.ttf");
  font-family: Squareo; }

@font-face {
  src: url "fonts/Zurich.ttf";
  font-family: Zurich; }

#date {
  font-family: Square, sans-serif;
  color: white;
  font-size: 45px; }

.action-item {
  width: 250px;
  height: 60px;
  position: relative;
  background-color: transparent;
  margin: 10px;
  border-width: 2px;
  border-style: solid; }
  .action-item p {
    padding: 0 10px; }
  .action-item .title {
    font-family: Square, sans-serif, sans-serif;
    color: white;
    text-align: right; }

.normal {
  border-color: #00FEFC; }

.warning {
  border-color: #FF290B; }

.arrow-top-left, .arrow-top-left-cover, .arrow-bottom-right-cover, .arrow-bottom-right {
  width: 0;
  height: 0;
  border: 12px solid transparent;
  border-bottom-color: inherit;
  transform: rotate(-45deg);
  position: absolute;
  top: -12px;
  left: -12px; }

.arrow-top-left-cover, .arrow-bottom-right-cover {
  border: 13px solid transparent;
  border-bottom-color: #222222;
  top: -15px;
  left: -15px; }

.arrow-bottom-right {
  transform: rotate(135deg);
  top: auto;
  left: auto;
  bottom: -12px;
  right: -12px; }

.arrow-bottom-right-cover {
  transform: rotate(135deg);
  top: auto;
  left: auto;
  bottom: -15px;
  right: -15px; }
