@font-face {
  src: url('fonts/Square.ttf');
  font-family: Square;
}

@font-face {
  src: url('fonts/Squareo.ttf');
  font-family: Squareo;
}

@font-face {
  src: url ('fonts/PhenixAmerican.ttf');
  font-family: PhenixAmerican;
}

